[Unit]
Description=Floaty API Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/Floaty
ExecStart=./FloatyAPI
Restart=always

[Install]
WantedBy=multi-user.target
