<footer class="footer">
    <a class="contacts" >Наши контакты</a>
    <div class="pochta">
      <p class="ourpochta"style="margin: 8px 0 5px 0;">Вопросы? Напишите <a href="mailto:m5u2cw16k@mozmail.com" class="mail">нам</a> на почту!</p>
    </div>
    <div class="telega">
      <p class="nashatelega" style="margin: 5px 0 5px 0;">Наш телеграм <a href="https://t.me/" class="natelega">@floaty</a></p>
      <!-- <p style="margin: 5px 0 5px 0;">&copy; 2024 Floaty. All rights reserved.</p> -->
    </div>
  </footer>