html {
  inset: 0;
  padding: 0;
  width: 100%;
  height: 110%;
}

body {
  margin: 0;
  height: inherit;
  background-color: #333;
  display: flex;
  flex-direction: column;
}
.inputQUEST, .inputBox {
  display: flex;
  flex-direction: column;
  background-color: #222;
  width: 270px;
  max-width: 280px;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  color: white;
}
/*.specialInput {*/
/*  display: inherit;*/
/*  text-align: start;*/
/*}*/
/*.specialInput > i {*/
/*  margin-left: 10px;*/
/*}*/

.preSubmitWindow {
  background: #1D1D1D;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  border: 2px solid #526f8c;
  padding-right: 20px;
  width: auto;
  min-width: 230px;
  min-height: 200px;
  /*display: none;*/
}
.overlay {
  display: none;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.preSubmitWindow {
  display: none;
  padding: 10px 20px 10px 20px;
}
.preSubmitWindow > ul {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.preSubmitWindow > ul > li {
  text-wrap: normal;
  margin: 6px 0 0 0;
}
.preSubmitWindow > .uaction {
  display: flex;
  justify-content: space-around;
}
.uactionBtn {
  border: none;
  color: white;
}
.breakSubmitBtn {
  background-color: #914743;
}

.processSubmitBtn {
  background-color: #5cb85c;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: inline-grid;
  align-items: center;
  inset: 0;
  width: 100%;
  height: 65px;
  background: #222;
  color: #FFF;

  /** Typography */
  font-family: Inika;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logoDiv {
  grid-column: 1;
}

.logo {
  text-decoration: none;
  color: #FFF;

  margin-left: 2.5rem;
  height: 44px;
  flex-shrink: 0;

}

.navButtons {
  grid-column: 3;
  grid-auto-flow: 1;
  grid-row: 1;

  padding-left: 2rem;
}

.navButtons > a {
  font-weight: 400;
  font-size: 2rem;

  transition: all .3s;
  text-decoration: none;
  padding-left: 0.7rem;
  color: #FFF;
  
}

.navButtons>a:hover {
  text-decoration: overline solid rgb(230, 177, 79);
  color: rgb(75, 160, 96);
}


.inputFormField {
  margin-top: 8px;
}
.inputFormField > div {
  margin-bottom: 4px;
}
.inputFormField > textarea {
  width: 170px;
}

.loginButton {

  grid-column: 5;
  grid-row: 1;
  justify-self: flex-end;
  margin-right: 2rem;
}

.loginButton>a {
  font-weight: 400;
  font-size: 2rem;
  transition: all .3s;
  text-decoration: none;
  padding-left: 0.7rem;
  color: #FFF;

}

.loginButton>a:hover {
  text-decoration: overline solid rgb(230, 177, 79);
  color: rgb(75, 160, 96);
}


.submitBtn {
  margin-bottom: 20px;
  width: 150px;
  height: 30px;
  border-radius: 100px;
  transition: all .5s;
  border-color: transparent;
}

.submitBtn:hover {
  background-color: #94e594;
}

@media screen and (max-width: 720px) {
  .navbar>div.navButtons {
    /* background-color: lightgreen; */
    display: none;
  }
}


@keyframes bounce {
  from {
    transform: translateY(30px);
    background: #FEDD31;
  }

  to {
    transform: translateY(-30px);
    background: #D0782A;
  }
}

input[type="text"] {
  font-family: Inika;
}
input[type="password"] {
  font-family: Inika;
}

.inputCont {
  color: white;
  text-align: center;
  border-radius: 15px;
  width: 300px;
  height: 50vh;
  background-color: #222;

  /* padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px; */
  margin:auto;
  margin-top: 10vh;

  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq {
  padding: 0 16px 20px 16px;
  margin-top: 40px;
  color: white;
  border-radius: 15px;
  background-color: #222;
}

.content {
  height: 100vh;
}


.footer {
margin-top: auto;
background-color: #222;
color: white;
position: relative;
height: auto;
width: 100%;
text-align: center;
font-size: 20px;  
}

.contacts {
font-family: 'Times New Roman', Times, serif;
}

.ourpochta {
font-family: 'Times New Roman', Times, serif;
}

.mail:link {
font-family: 'Times New Roman', Times, serif;
color: white;
}

.mail:visited {
font-family: 'Times New Roman', Times, serif;
color: white;
}

.nashatelega {
font-family: 'Times New Roman', Times, serif;
color: white;
}

.natelega.link {
font-family: 'Times New Roman', Times, serif;
color: white;
}

.natelega:visited {
font-family: 'Times New Roman', Times, serif;
color: white;
}


.quest {
width: 80%
}

/* SECTION - userInterface */

.mainFrame {
display: grid;
}
.mainFrame > .panelFrame {
grid-column: 1;
grid-row: 1;
background-color: #94e594;

}
.mainFrame > .contentFrame {
display: grid;
grid-row: 2;
background-color: #FFF;
}
.mainFrame > .contentFrame > div {
border:1px solid #444;
padding: 0 5px 0 5px ;
}
/* TODO make side frame
.mainFrame > .sideFrame {
background-color: #FFF;
grid-column: 1;
grid-row: 2;
} */

/*!SECTION - userInterface */
@media (max-width: 599px) {

}

/*Region POPUP WINDOW */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.popupBtn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
/*End*/
